body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
}


.navy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  padding: 1rem;
  padding-top: 1rem;
}






header {
  background-image: url(images/Header_woman.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
