@font-face {
  font-family: 'Source sans pro Regular';
  src: url(fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: 'Source sans pro Bold';
  src: url(fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source sans pro Light';
  src: url(fonts/SourceSansPro-Light.otf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  max-width: 100%;
  line-height: 1;
  font-family: ;
}

.navy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex;
  padding-top: 170px;
  padding-left: 250px;
  padding-right: 250px;
}

ul {
  list-style-type: none;
  display: flex;


}

li a {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  color: white;

}

header {
  background: url(images/pics/pic_1.jpg) no-repeat;
  background-size: cover;
  max-width: 100%;
}

.people h1 {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 10px;
  margin-bottom: 0;
  color: white;
}

.people p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  word-spacing: 5rem;
  color: white;

}

.people button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  height: 2.5rem;
  width: 10rem;
  background-color: #C271FF;
  color: white;
}

.learn-pros h2 {
  color: white;
  text-align: center;
  font-weight: 100;


}

.learn-pros h2 b {
  color: #C271FF;
}
